{% extends 'base/layout.html' %}
{% load static %}

{% block headerLinks %}
    <link rel="stylesheet" href="{% static 'css/Gallery/../../../static/css/gallery/gallery-style.css' %}">
{% endblock %}

{% block main %}

    <div class="col-md-9 text-center">
        <div class="row">
            {% for image in images %}

                <div class="col-md-4">
                    <div class="image-box">
                        <img class="img" src="{{ image.image.url }}">
                        <br/>
                        <br/>
                        <p>{{ image.description }}</p>
                    </div>
                </div>

            {% endfor %}
        </div>
    </div>

{% endblock %}

{#-------------------------------------------------------#}

{% block site_description %}
    {{ FooterData.site_description }}
{% endblock %}

{% block address %}
    {{ FooterData.address }}
{% endblock %}

{% block location %}
    {{ FooterData.location }}
{% endblock %}

{% block footer_logo %}
    {{ FooterData.site_logo.url }}
{% endblock %}

{% block phone_number %}
    {{ FooterData.phone_number }}
{% endblock %}

{% block landline_phone %}
    {{ FooterData.landline_phone }}
{% endblock %}

{% block instagram %}
    {{ FooterData.instagram }}
{% endblock %}

{% block telegram %}
    {{ FooterData.telegram }}
{% endblock %}

{% block whatsapp %}
    {{ FooterData.whatsapp }}
{% endblock %}