{% extends 'base/layout.html' %}

{% block main %}

    {% for villa in villas %}
        salam
    {% endfor %}

    {% for land in lands %}
        salam
    {% endfor %}

    {% for apartment in apartments %}
        salam
    {% endfor %}

{% endblock %}

{% block site_description %}
    {{ FooterData.site_description }}
{% endblock %}

{% block address %}
    {{ FooterData.address }}
{% endblock %}

{% block location %}
    {{ FooterData.location }}
{% endblock %}

{% block footer_logo %}
    {{ FooterData.site_logo.url }}
{% endblock %}

{% block phone_number %}
    {{ FooterData.phone_number }}
{% endblock %}

{% block landline_phone %}
    {{ FooterData.landline_phone }}
{% endblock %}

{% block instagram %}
    {{ FooterData.instagram }}
{% endblock %}

{% block telegram %}
    {{ FooterData.telegram }}
{% endblock %}

{% block whatsapp %}
    {{ FooterData.whatsapp }}
{% endblock %}