{% extends 'base/layout.html' %}

{% block header %}{% endblock %}


{% block main %}

    <div class="col-md-9 col-12 agahiha">

        <div class="buttons">
            <a href="#" class="btn btn-outline-success">همه</a>
            <a href="{% url 'showLandAds' %}" class="btn btn-outline-success">زمین</a>
            <a href="{% url 'showVillaAds' %}" class="btn btn-outline-success">ویلا</a>
            <a href="{% url 'showApartmentAds' %}" class="btn btn-success">آپارتمان</a>
        </div>

        {% for apartment in apartments %}
            <div class="box-agahi">
                <div class="row row-agahi">
                    <div class="col-lg-9 col-8 text">
                        <div class="information">
                            <p>عنوان:<span>{{ apartment.title }}</span></p>
                            <p>مبلغ:<span class="mablagh">{{ apartment.totalPrice }}</span>میلیارد تومان</p>
                            <p>متراژ:{{ apartment.size }} متر</p>
                            <p class="address">
                                <svg
                                        xmlns="http://www.w3.org/2000/svg"
                                        width="16"
                                        height="16"
                                        fill="currentColor"
                                        class="bi bi-geo-alt"
                                        viewBox="0 0 16 16"
                                >
                                    <path d="M12.166 8.94c-.524 1.062-1.234 2.12-1.96 3.07A31.493 31.493 0 0 1 8 14.58a31.481 31.481 0 0 1-2.206-2.57c-.726-.95-1.436-2.008-1.96-3.07C3.304 7.867 3 6.862 3 6a5 5 0 0 1 10 0c0 .862-.305 1.867-.834 2.94zM8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10z"/>
                                    <path d="M8 8a2 2 0 1 1 0-4 2 2 0 0 1 0 4zm0 1a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                                </svg>
                                {{ apartment.address }}
                            </p>
                        </div>
                    </div>

                    <div class="col-lg-3 col-4 d-flex photo-box">
                        <div class="photo-agahi">
                            <img
                                    src="{{ apartment.pic1.url }}"
                                    alt="{{ apartment.title }}"
                            />
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}

        <nav aria-label="Page navigation example">
            <ul class="pagination page-number">

                {% if page_obj.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>

                {% endif %}

                {% for pageNumber in paginator.page_range %}
                    <li class="page-item">
                        <a class="page-link {% if page_obj.number == pageNumber %}page_active{% endif %}" href="?page={{ pageNumber }}" {% if page_obj.number == pageNumber %}style="color: white" {% endif %}>{{ pageNumber }}</a>
                    </li>
                {% endfor %}

                {% if page_obj.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                {% endif %}
            </ul>
        </nav>

    </div>

{% endblock %}

{% block site_description %}
    {{ FooterData.site_description }}
{% endblock %}

{% block address %}
    {{ FooterData.address }}
{% endblock %}

{% block location %}
    {{ FooterData.location }}
{% endblock %}

{% block footer_logo %}
    {{ FooterData.site_logo.url }}
{% endblock %}

{% block phone_number %}
    {{ FooterData.phone_number }}
{% endblock %}

{% block landline_phone %}
    {{ FooterData.landline_phone }}
{% endblock %}

{% block instagram %}
    {{ FooterData.instagram }}
{% endblock %}

{% block telegram %}
    {{ FooterData.telegram }}
{% endblock %}

{% block whatsapp %}
    {{ FooterData.whatsapp }}
{% endblock %}