<!doctype html>
<html>
<head>
    <title>Show Ads</title>
</head>
<body>

    {% for land in lands %}
        <p>{{ land.title }}</p>
        <p>{{ land.totalPrice }}</p>
        <p>{{ land.address }}</p>
        <img src="{{ land.pic1.url }}" style="width: 100px;"/>

        <hr/>
    {% endfor %}

    {% for land in apartments %}
        <p>{{ land.title }}</p>
        <p>{{ land.totalPrice }}</p>
        <p>{{ land.address }}</p>
{#        <img src="{{ land.pic1.url }}" style="width: 100px;"/>#}

        <hr/>
    {% endfor %}

</body>
</html>