{% extends 'base/layout.html' %}
{% load static %}
{% load humanizelib %}
{% load jalali_tags %}

{% block headerLinks %}{% endblock %}

{% block pageTitle %}
    {{ single_ad.title }}
{% endblock %}

{% block main %}

    <div class="col-lg-9 col-12">
        <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner img-banner">

                {% if single_ad.pic1 %}
                    <a href="{{ single_ad.pic1.url }}">
                        <div class="carousel-item active h-100">
                            <img src="{{ single_ad.pic1.url }}" class="d-block w-100 h-100 object-fit-cover" alt="...">
                        </div>
                    </a>
                {% endif %}

                {% if single_ad.pic2 %}
                    <a href="{{ single_ad.pic2.url }}">
                        <div class="carousel-item h-100">
                            <img src="{{ single_ad.pic2.url }}" class="d-block w-100 h-100 object-fit-cover" alt="...">
                        </div>
                    </a>
                {% endif %}

                {% if single_ad.pic3 %}
                    <a href="{{ single_ad.pic3.url }}">
                        <div class="carousel-item h-100">
                            <img src="{{ single_ad.pic3.url }}" class="d-block w-100 h-100 object-fit-cover" alt="...">
                        </div>
                    </a>
                {% endif %}

                {% if single_ad.pic4 %}
                    <a href="{{ single_ad.pic4.url }}">
                        <div class="carousel-item h-100">
                            <img src="{{ single_ad.pic4.url }}" class="d-block w-100 h-100 object-fit-cover" alt="...">
                        </div>
                    </a>
                {% endif %}

                {% if single_ad.pic5 %}
                    <a href="{{ single_ad.pic5.url }}">
                        <div class="carousel-item h-100">
                            <img src="{{ single_ad.pic5.url }}" class="d-block w-100 h-100 object-fit-cover" alt="...">
                        </div>
                    </a>
                {% endif %}

                {% if single_ad.pic6 %}
                    <a href="{{ single_ad.pic6.url }}">
                        <div class="carousel-item h-100">
                            <img src="{{ single_ad.pic6.url }}" class="d-block w-100 h-100 object-fit-cover" alt="...">
                        </div>
                    </a>
                {% endif %}
            </div>

            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
                    data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>

            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
                    data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>

        </div>
        <div class="box-detail mt-5 shadow-sm p-4 mb-5 bg-white">

            {% if single_ad.title %}
                <h5>{{ single_ad.title }}</h5>
            {% endif %}

            {% if single_ad.category.fa_category %}
                دسته بندی : <p
                    class="text-14 mt-3 text-gray-400 btn btn-outline-secondary">{{ single_ad.category.fa_category }}</p>

            {% endif %}

            <div class="size-price">
                <div class="row d-flex align-items-center">

                    <div class="col-xxl-9 col-xl-6 col-sm-7 col-12">
                        <div class="row  d-flex main-info">

                            {% if single_ad.size %}
                                <p class="mb-0 col-xl-4 col-6">متراژ : {{ single_ad.size }} متر</p>
                            {% endif %}

                            {% if single_ad.NumberOfRooms %}
                                <p class="mb-0 col-xl-4 col-6">تعداد اتاق: {{ single_ad.NumberOfRooms }}</p>
                            {% endif %}

                            {% if single_ad.floor %}
                                <p class="mb-0 col-xl-4 col-6 mt-xl-0 mt-2">طبقه: {{ single_ad.floor }}</p>
                            {% endif %}

                        </div>
                    </div>

                    <div class="col-xxl-3 col-xl-6 col-sm-5 col-12 mt-sm-0 mt-2 price d-flex flex-column">
                        <div class="row">
                            {% if single_ad.adaptive %}
                                <div class="col-sm-12 col-6">
                                    <p class="mb-0 d-flex price-span">
                                        <span>قیمت : </span>
                                        <span>توافقی</span>
                                    </p>
                                </div>
                            {% else %}
                                {% if single_ad.PricePerMeter %}
                                    <div class="col-sm-12 col-6">
                                        <p class="mb-0 d-flex price-span">
                                            <span>قیمت متری :&#160;</span>
                                            <span>{{ single_ad.PricePerMeter|intcomma }}<small>{{ single_ad.currency.currency }}</small></span>
                                        </p>
                                    </div>
                                {% endif %}

                                {% if single_ad.totalPrice %}
                                    <div class="col-sm-12 col-6">
                                        <p class="mb-0 d-flex price-span">
                                            <span>قیمت کل :&#160;</span><span>{{ single_ad.totalPrice|intcomma }}<small>{{ single_ad.currency.currency }}</small></span>
                                        </p>
                                    </div>
                                {% endif %}

                                {% if single_ad.prepayment %}
                                    <div class="col-sm-12 col-6">
                                        <p class="mb-0 d-flex price-span">
                                            <span>پیش پرداخت :&#160;</span><span>{{ single_ad.prepayment|intcomma }}<small>{{ single_ad.currency.currency }}</small></span>
                                        </p>
                                    </div>
                                {% endif %}

                                {% if single_ad.rent %}
                                    <div class="col-sm-12 col-6">
                                        <p class="mb-0 d-flex price-span">
                                            <span>اجاره :&#160;</span><span>{{ single_ad.rent|intcomma }}<small>{{ single_ad.currency.currency }}</small></span>
                                        </p>
                                    </div>
                                {% endif %}
                            {% endif %}

                        </div>
                    </div>

                </div>
            </div>
            <hr class="mt-3">

            {% if single_ad.have_Warehouse or single_ad.have_parking or single_ad.have_balcony %}
                <h5>تجهیزات و امکانات</h5>
                <div class="row mt-4 d-flex">

                    {% if single_ad.have_Warehouse %}
                        <div class="col-sm-3 col-6 details-item d-flex gap-2">
                            <img src="{% static 'image/icons8-warehouse-64.png' %}" alt="" width="25" height="25">
                            <p class="mb-0 lh-lg">انباری</p>
                        </div>
                    {% endif %}

                    {% if single_ad.have_parking %}
                        <div class="col-sm-3 col-6 details-item d-flex gap-2">
                            <img src="{% static 'image/icons8-garage-50.png' %}" alt="" width="25" height="25">
                            <p class="mb-0 lh-lg">پارکینگ</p>
                        </div>
                    {% endif %}


                    {% if single_ad.have_balcony %}
                        <div class="col-sm-3 col-6 mt-sm-0 mt-2 details-item d-flex gap-2">
                            <img src="{% static 'image/icons8-balcony-50.png' %}" alt="" width="25" height="25">
                            <p class="mb-0 lh-lg">بالکن</p>
                        </div>
                    {% endif %}

                </div>
                <hr>
            {% endif %}

            {% if single_ad.description %}
                <div class="tozihat">
                    <h5>توضیحات تکمیلی:</h5>
                    <small>
                        {{ single_ad.description }}
                    </small>
                </div>
                <hr>
            {% endif %}

            <p class="mb-0 mt-4 text-black-50 date">زمان ایجاد آگهی
                : {{ single_ad.dateTimeCreated|to_jalali:'%Y/%m/%d' }}</p>
        </div>

        {% if single_ad.address or single_ad.location %}
            <div class="address mt-5 shadow-sm p-4 mb-5 bg-white">

                {% if single_ad.address %}
                    <p class="">آدرس: {{ single_ad.address }}</p>
                {% endif %}

                {% if single_ad.location %}
                    <div class="location-map d-flex gap-1">
                        <img src="{% static 'image/icons8-map-64 (2).png' %}" alt="" width="25" height="25">
                        <p>آدرس در نقشه:</p>
                    </div>

                    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-inner" style="border-radius: 15px; height: 300px; border: 1px solid #0a660a;">
                            <a href="{{ single_ad.location }}" target="_blank">
                                <div class="carousel-item active h-100">
                                    <img src="{% static 'image/map.png' %}" class="d-block w-100 h-100 object-fit-cover" alt="map">
                                </div>
                            </a>
                        </div>
                    </div>
{#                    <div class="box-detail mt-5 shadow-sm p-4 mb-5 bg-white">#}


{#                    <div class="d-flex justify-content-center">#}
{#                        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d3150.704171710978!2d51.252243768687414!3d35.73712953205727!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2s!4v1700178093604!5m2!1sen!2s"#}
{#                            width="100%" height="300" style="border:0;" allowfullscreen="" loading="lazy"#}
{#                            referrerpolicy="no-referrer-when-downgrade">#}
{#                        </iframe>#}
{#                    </div>#}

                {% endif %}

{#            </div>#}
        {% endif %}

    </div>
{% endblock %}

{% block site_description %}
    {{ FooterData.site_description }}
{% endblock %}

{% block address %}
    {{ FooterData.address }}
{% endblock %}

{% block location %}
    {{ FooterData.location }}
{% endblock %}

{% block footer_logo %}
    {{ FooterData.site_logo.url }}
{% endblock %}

{% block phone_number %}
    {{ FooterData.phone_number }}
{% endblock %}

{% block landline_phone %}
    {{ FooterData.landline_phone }}
{% endblock %}

{% block instagram %}{{FooterData.instagram}}{% endblock %}

{% block telegram %}{{FooterData.telegram}}{% endblock %}

{% block whatsapp %}{{FooterData.whatsapp}}{% endblock %}

