{% extends 'base/layout.html' %}
{% load static %}

{% block headerLinks %}
    <link rel="stylesheet" href="{% static 'css/base/style.css' %}"/>
{% endblock %}

{% block main %}
    <div class="col-md-9 col-12">
        <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner img-banner">

                {% for SliderImage in SliderImages %}
                    <div class="carousel-item {% if forloop.first %}active{% endif %}">
                        <img src="{{ SliderImage.image.url }}" class="d-block w-100 h-100 object-fit-cover" alt="...">
                    </div>
                {% endfor %}

            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
                    data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
                    data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
        <div class="search-box d-flex">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-search "
                 viewBox="0 0 16 16">
                <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
            </svg>
            <h3 class="mb-0">ملک خود را پیدا کنید</h3>
        </div>
        <h4 class="mt-5 text-success mb-0" style="font-size: 18px;">{{ HomeData.home_description }}</h4>
        <div class="container text-center mt-5">
            <div class="row d-flex box-fre">
                <div class="col rounded box d-flex bg-light">
                    <div class="box-information d-flex">
                        <div class="box-icon">
                            <img src="{% static 'image/Coprate.svg' %}" alt="">
                        </div>
                        <h5 class="mb-0 d-flex">فروش</h5>
                    </div>
                </div>
                <div class="col rounded box d-flex bg-light">
                    <div class="box-information d-flex">
                        <div class="box-icon">
                            <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor"
                                 class="bi bi-house-door" viewBox="0 0 16 16">
                                <path d="M8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4.5a.5.5 0 0 0 .5-.5v-4h2v4a.5.5 0 0 0 .5.5H14a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.354 1.146ZM2.5 14V7.707l5.5-5.5 5.5 5.5V14H10v-4a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5v4H2.5Z"/>
                            </svg>
                        </div>
                        <h5 class="mb-0 d-flex">رهن</h5>
                    </div>
                </div>
                <div class="col rounded box d-flex bg-light">
                    <div class="box-information d-flex">
                        <div class="box-icon">
                            <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor"
                                 class="bi bi-house" viewBox="0 0 16 16">
                                <path d="M8.707 1.5a1 1 0 0 0-1.414 0L.646 8.146a.5.5 0 0 0 .708.708L2 8.207V13.5A1.5 1.5 0 0 0 3.5 15h9a1.5 1.5 0 0 0 1.5-1.5V8.207l.646.647a.5.5 0 0 0 .708-.708L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.707 1.5ZM13 7.207V13.5a.5.5 0 0 1-.5.5h-9a.5.5 0 0 1-.5-.5V7.207l5-5 5 5Z"/>
                            </svg>
                        </div>
                        <h5 class="mb-0 d-flex">اجاره</h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="container text-center mt-5">
            <div class="row d-flex box-fre">

                <div class="col rounded box d-flex bg-light">
                    <div class="box-information d-flex cursor-hand" onclick="location.href='/Ads/Land';">
                        <div class="box-icon">
                            <img src="{% static 'image/icons8-house-with-a-garden-50.png' %}" alt="" width="40">
                        </div>
                        <h5 class="mb-0 d-flex">آگهی‌های زمین</h5>
                    </div>
                </div>

                <div class="col rounded box d-flex bg-light">
                    <div class="box-information d-flex cursor-hand" onclick="location.href='/Ads/Villa';">
                        <div class="box-icon">
                            <img src="{% static 'image/icons8-villa-64.png' %}" alt="" width="40">
                        </div>
                        <h5 class="mb-0 d-flex">آگهی‌های ویلا</h5>
                    </div>
                </div>

                <div class="col rounded box d-flex bg-light">
                    <div class="box-information d-flex cursor-hand" onclick="location.href='/Ads/Apartment';">
                        <div class="box-icon">
                            <img src="{% static 'image/icons8-apartment-50.png' %}" alt="" width="40">
                        </div>
                        <h5 class="mb-0 d-flex">آگهی‌های آپارتمان</h5>
                    </div>
                </div>

            </div>
        </div>
    </div>
    </div>
{% endblock %}

{% block site_description %}
    {{ FooterData.site_description }}
{% endblock %}

{% block address %}
    {{ FooterData.address }}
{% endblock %}

{% block location %}
    {{ FooterData.location }}
{% endblock %}

{% block footer_logo %}
    {{ FooterData.site_logo.url }}
{% endblock %}

{% block phone_number %}
    {{ FooterData.phone_number }}
{% endblock %}

{% block landline_phone %}
    {{ FooterData.landline_phone }}
{% endblock %}

{% block instagram %}{{FooterData.instagram}}{% endblock %}

{% block telegram %}{{FooterData.telegram}}{% endblock %}

{% block whatsapp %}{{FooterData.whatsapp}}{% endblock %}